
{% extends "layouts/base-admin.html" %}

{% block title %} Summary {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Summary</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Thống kê</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Tổng kết môn học</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                
                <!-- [ Main Content ] start -->
                <div class="row">
                    
                    <!-- [ stiped-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
    
                            
                            <div class="card-block table-border-style">
                                
                                <div class="table-responsive">
                                    
                                    <br>
                                    <br>
                                    <table class="table table-striped">
                                        <thead>
                                           
                                            <td>Mã lớp</td>
                                           <td>Mã sinh viên</td>
                                           <td>Số lần đi học</td>
                                           
                                        </thead>
                                        <tbody>
                                            {%for info in rows%}
                                                <tr>
                                                    {%for i in info%}
                                                    <td>{{ i }}</td>
                                                    {%endfor%}
                                                </tr>
                                            {%endfor%}
                                        </tbody>
                                     </table>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    <!-- [ stiped-table ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
